.app-header {
  display: flex;
  justify-content: center;
  h1 {
    font-size: 20px;
  }
}
.content {
  margin-top: 25px;
  .links-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    a {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: rgba(236, 236, 241) !important;
      text-decoration: none;
    }
  }
  .features-container {
    margin-top: 50px;
    p {
      font-size: 14px;
    }
  }
}
