@import 'light.scss';
@import 'dark.scss';

html{
  overflow: overlay !important; // temporary solution
}
.chat-gpt-container {
  width: fit-content !important;
  .tea-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    z-index: 9991;
    .icon-container {
      cursor: pointer;
      width: fit-content;
      img {
        border-radius: 20px;
        transition: 0.1s linear all;
      }
      &:hover {
        & + .select-container {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .select-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s linear, visibility 0.1s linear;

      select {
        background-color: rgb(13, 17, 23) !important;
        color: #dfdfdf !important;
        cursor: pointer !important;
        border-radius: 5px !important;
        border: 2px solid #dfdfdf !important;
        padding: 2px 5px !important;
        font-size: 13px !important;
      }
      &:hover {
        opacity: 1;
        visibility: visible;
      }
    }
    .add-container {
      position: relative;
      .svg-container {
        width: fit-content;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s linear, visibility 0.1s linear;
        margin-left: 60px;
        svg {
          background-color: rgb(13, 17, 23);
          border-radius: 5px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      form {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.1s linear, visibility 0.1s linear;
        input {
          background-color: rgb(13, 17, 23) !important;
          color: #dfdfdf !important;
          padding: 3px 8px !important;
          font-size: 13px !important;
          border-radius: 5px !important;
          border: 2px solid #dfdfdf !important;
          width: 121px !important;
        }
        button {
          background-color: rgb(13, 17, 23) !important;
          border-radius: 5px !important;
          color: #dfdfdf !important;
          margin-left: 5px !important;
          transition: 0.1s linear all;
          cursor: pointer;
        }
      }
    }
  }
  .query-container.markdown-body {
    padding: 20px;
    border: 1px solid rgb(13, 17, 23);
    border-radius: 12px;
    margin-top: 10px;
    z-index: 9992;
  }

  &.sidebar-free {
    margin-left: 30px;
    height: fit-content;
  }

  p {
    margin: 0;
  }

  a.gpt-promotion-link {
    &:hover {
      text-decoration: none;
    }
    a:visited {
      color: inherit;
    }
  }

  .icon-and-text {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  #gpt-answer.markdown-body.gpt-markdown {
    font-size: 15px;
    line-height: 1.6;

    pre {
      margin-top: 10px;
    }

    & > p:not(:last-child) {
      margin-bottom: 10px;
    }

    pre code {
      white-space: pre-wrap;
      word-break: break-all;
    }

    pre code.hljs {
      padding: 0;
      background-color: transparent;
    }

    ol li {
      list-style: disc;
    }

    img {
      width: 100%;
    }

    a {
      text-decoration: underline;
      &:visited {
        color: unset;
      }
    }
  }

  .copy-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .copy-icon {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .gpt-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;

    .gpt-feedback {
      margin-left: auto;
      display: flex;
      gap: 6px;
      cursor: pointer;
    }

    .gpt-feedback-selected {
      color: #ff6347;
    }
  }
}
